img {
    display: flex;
    margin-left: 30vw;
    border: 2px solid black;
}

a {
    font-size: 15pt;
    text-align: center;
}

h1 {
    text-align: center;
}

.buy {
    display: flex;
    justify-content: center;
    margin-top: 5%;
 
}

.links {
    text-decoration: none;
    color: inherit;
    font-size: 15pt;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align:center;
}

li {
    /* Border around the text */
   /* Ensures the items stack vertically but border fits text */
    padding: 5px 10px;  /* Padding around the text */
    margin-bottom: 10px;  /* Adds space between items */
}
.quantity {
    width: 5%;
}
